.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-top: 60px; /* Adjust this value based on your navbar height */
}

.main-content.no-navbar {
  margin-top: 0;
}

